    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

<style>table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;    
  background-color: #f1f1c1;
}
</style>
</head>
<body>
	<center>
	<div class="container">
	<div class="row" style="margin-top: 5%;">

    <a href="/author">Authors</a>
    <a href="/publisher">Editorials</a>


     <h2>Books List</h2>
     <table><thead>
      <tr>
        <th>Title</th>
        <th>Edition</th>
        <th>Copyright</th>
        <th>Pages</th>
		<th>Actions</th></th></tr>
      </thead><tbody>
      {{#Books}}
      <td>{{title}}</td>
      <td>{{edition}}</td>
      <td>{{copyright}}</td>
      <td>{{pages}}</td>
      <td>
      <a class="button" href="/Book/show/{{id}}" data-navigo>Show</a>
      <a class="button" href="/Book/edit/{{id}}" data-navigo>Edit</a>
      <a class="button" href="/Book/delete/{{id}}" data-navigo>Erase</a>
      </td>
      </tr>
      {{/Books}}</tbody>
     </table>
     <a class="button button-primary" href="/Book/create" data-navigo>Add Book</a>
   </div>
  </div>
 </body>